<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.article.mapper.ArticleMapper">


    <select id="loadArticleList" resultType="com.heima.model.article.pojos.ApArticle">

        <!--        SELECT-->
        <!--        aa.*-->
        <!--        FROM-->
        <!--        `ap_article` aa-->
        <!--        LEFT JOIN ap_article_config aac ON aa.id = aac.article_id-->
        <!--        <where>-->
        <!--            and aac.is_delete != 1-->
        <!--            and aac.is_down != 1-->
        <!--            &lt;!&ndash; loadmore &ndash;&gt;-->
        <!--            <if test="type != null and type == 1">-->
        <!--                and aa.publish_time <![CDATA[<]]> #{dto.minBehotTime}-->
        <!--            </if>-->
        <!--            <if test="type != null and type == 2">-->
        <!--                and aa.publish_time <![CDATA[>]]> #{dto.maxBehotTime}-->
        <!--            </if>-->
        <!--            <if test="dto.tag != '__all__'">-->
        <!--                and aa.channel_id = #{dto.tag}-->
        <!--            </if>-->
        <!--        </where>-->
        <!--        order by aa.publish_time desc-->
        <!--        limit #{dto.size}-->
        select aa.* from ap_article aa left join ap_article_config aac on aac.article_id =aa.id
        <where>
            <!--文章不为删除状态 -->
            and aac.is_delete!=1
            <!-- 文章不为下架状态-->
            and aac.is_down !=1
            <if test="type !=null and type ==1">
                and aa.publish_time &lt; #{dto.minBehotTime}
            </if>
            <if test="type !=null and type==2">
                and aa.publish_time &gt; #{dto.maxBehotTime}
            </if>
            <if test="dto.tag !='__all__'">
                and aa.channel_id = #{dto.tag}
            </if>

        </where>
        order by aa.publish_time desc
        limit #{dto.size}
    </select>
    <select id="findArticleListByLast5days" resultType="com.heima.model.article.pojos.ApArticle">


        select aa.* from ap_article aa left join ap_article_config aac on aa.id = aac.article_id
        <where>
            and aac.is_delete!=1
            and aac.is_down!=1
            <if test="dayParam!=null">
                and aa.publish_time&gt;=#{dayParam}
            </if>
        </where>
    </select>


</mapper>